<image-display>
    <img src={ imageDict[props.name] }>

    <script>
        import hiramEye from "./hiram_lab_eye_logo.png";

        export default {
            imageDict: {
                hiramEye
            }
        };
    </script>
</image-display>
